In [12]:
import re
from itertools import product
import pandas as pd

from aswan import get_soup, get_json, add_url_params
from tqdm.notebook import tqdm

In [2]:
url_root = "https://www.bbc.com"

In [3]:
bbc_region_soup = get_soup(f"{url_root}/news/england/regions")

In [4]:
region_l = []

for h2 in tqdm(bbc_region_soup.find_all("h2", class_="gel-double-pica-bold")):
    for li in h2.find_next("ul").find_all("li"):
        a = li.find("a")
        link = a["href"]
        reg_soup = get_soup(url_root + link)
        region_l.append(
            {
                "region": h2.text,
                "local": a.text.strip(),
                "link": link,
                "page_link": reg_soup.find(class_="qa-pagination-next-page")["href"],
            }
        )

  0%|          | 0/10 [00:00<?, ?it/s]

In [52]:
reg_df = (
    pd.DataFrame(region_l)
    .assign(push_id=lambda df: df["page_link"].str.extract("live/(.*)/page/2"))
    .drop("page_link", axis=1)
)

In [70]:
reg_df

,region,local,link,push_id
0,North West England,Cumbria,/news/england/cumbria,uk-england-48135342
1,North West England,Lancashire,/news/england/lancashire,uk-england-48136292
2,North West England,Liverpool,/news/england/merseyside,uk-england-48136294
3,North West England,Manchester,/news/england/manchester,uk-england-48136296
4,North East England,Tees,/news/england/tees,uk-england-48136298
5,North East England,Tyne & Wear,/news/england/tyne_and_wear,uk-england-48136300
6,Yorkshire & Lincolnshire,Humberside,/news/england/humberside,uk-england-48136302
7,Yorkshire & Lincolnshire,Leeds & West Yorkshire,/news/england/leeds_and_west_yorkshire,uk-england-48136304
8,Yorkshire & Lincolnshire,Lincolnshire,/news/england/lincolnshire,uk-england-48136306
9,Yorkshire & Lincolnshire,Sheffield & South Yorkshire,/news/england/south_yorkshire,uk-england-48136308
10,Yorkshire & Lincolnshire,York & North Yorkshire,/news/england/york_and_north_yorkshire,uk-england-48136310
11,West Midlands,Birmingham & Black Country,/news/england/birmingham_and_black_country,uk-england-48136312
12,West Midlands,Coventry & Warwickshire,/news/england/coventry_and_warwickshire,uk-england-48136314
13,West Midlands,Hereford & Worcester,/news/england/hereford_and_worcester,uk-england-48136316
14,West Midlands,Shropshire,/news/england/shropshire,uk-england-48136318
15,West Midlands,Stoke & Staffordshire,/news/england/stoke_and_staffordshire,uk-england-48136320
16,East Midlands,Derby,/news/england/derbyshire,uk-england-48136322
17,East Midlands,Leicester,/news/england/leicester,uk-england-48136324
18,East Midlands,Northampton,/news/england/northamptonshire,uk-england-48136326
19,East Midlands,Nottingham,/news/england/nottingham,uk-england-48136328
20,West & South West,Bristol,/news/england/bristol,uk-england-48136330
21,West & South West,Cornwall,/news/england/cornwall,uk-england-48136332
22,West & South West,Devon,/news/england/devon,uk-england-48136334
23,West & South West,Gloucestershire,/news/england/gloucestershire,uk-england-48136336
24,West & South West,Somerset,/news/england/somerset,uk-england-48136338
25,West & South West,Wiltshire,/news/england/wiltshire,uk-england-48136340
26,East,"Beds, Herts & Bucks",/news/england/beds_bucks_and_herts,uk-england-48136342
27,East,Cambridgeshire,/news/england/cambridgeshire,uk-england-48136344
28,East,Essex,/news/england/essex,uk-england-48136346
29,East,Norfolk,/news/england/norfolk,uk-england-48136348
30,East,Suffolk,/news/england/suffolk,uk-england-48136350
31,South,Berkshire,/news/england/berkshire,uk-england-48136352
32,South,Dorset,/news/england/dorset,uk-england-48136354
33,South,Hampshire & Isle of Wight,/news/england/hampshire,uk-england-48136356
34,South,Oxford,/news/england/oxford,uk-england-48136358
35,London & South East,Kent,/news/england/kent,uk-england-48136360
36,London & South East,London,/news/england/london,NaN
37,London & South East,Surrey,/news/england/surrey,uk-england-48136364
38,London & South East,Sussex,/news/england/sussex,uk-england-48136366
39,Isle of Man & Channel Islands,Isle of Man/Ellan Vannin,/news/world/europe/isle_of_man,uk-england-48136368
40,Isle of Man & Channel Islands,Guernsey,/news/world/europe/guernsey,uk-england-48136370
41,Isle of Man & Channel Islands,Jersey,/news/world/europe/jersey,uk-england-48136372

In [66]:
reg_df.fillna("").to_markdown("../locales.md", index=False, )

In [39]:
resp = get_json(all_push_urls[4])

In [42]:
resp["payload"][0]["body"].keys()

dict_keys(['results', 'numberOfPages', 'currentPage', 'latestChange', 'mode'])